.landing{
    width: 100vw;
    height: 95vh;
    background-color: #D3FFE9;
}

.oval-shape{
    background-color: #2C666E;
    padding: 100px;
    border-radius: 80% 80% 0% 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 200px;
}

.text-box{
    width: 500px;
    margin-left: 50px;
}

.img{
    height: 400px;
}

.h1-land{
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
}

.p-landing{
    font-family:'Times New Roman', Times, serif;
    font-size: 26px;
}

@media only screen and (max-width: 400px) {
    .landing{
        width: 100vw;
        height: 110vh;
        background-color: #D3FFE9;
        margin-top: 7vh;
    }
    .oval-shape{
        background-color: #2C666E;
        padding: 20px;
        border-radius: 35% 35% 0% 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 200px;
    }
    .img{
        height: 400px;
        margin-left:10%;
        margin-top: 30px;
    }
    .text-box{
        width: 80%;
    }
    .h1-land{
        font-family:'Times New Roman', Times, serif;
        font-size: 30px;
    }
    
    .p-landing{
        font-family:'Times New Roman', Times, serif;
        font-size: 24px;
    }
}