.profile{
    background-color: #D3FFE9;
    height: 100vh;
}

.prof-content{
    width: 95vw;
    height: 80vh;
    margin: auto;
    margin-top: 0px;
    background-color: black;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    padding-top: 100px;
}

.main-profile{
    width: 20%; 
    text-align: center;
}

.user-img{
    border-radius: 100%;
    max-width: 60%;
    max-height: 60%;
}

.user-name{
    font-size: 24px;
}

.user-description{
    width: 80%;
    margin: auto;
}

.user-links{
    margin-top: 35px;
    text-align: center;
}



.user-portfolio{

}

.user-opportunities{
    margin-top: 20px;
}

.user-socials{
    display: flex;
    flex-direction: column;
}

.indv-link{
    margin: auto;
    margin-top: 20px;
}

.our-logo{
    width: 20%;
    height: 20%;
    text-align: center;
    margin-top: 50px;
} 

.the-logo{
    width: 10%;
}

@media only screen and (max-width: 400px) {
    .prof-content{
        width: 95vw;
        height: 80vh;
        margin: auto;
        margin-top: 7vh;
        background-color: black;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        padding-top: 40px;
    }

    .profile{
        background-color: #D3FFE9;
        height: 90vh;
    }

    .main-profile{
        width: 60%; 
        text-align: center;
    }
    
    .user-img{
        border-radius: 100%;
        max-width: 60%;
        max-height: 60%;
        margin: 20px;
    }
    
    .user-name{
        font-size: 24px;
    }
    
    .user-description{
        width: 90%;
        margin: auto;
    }
    
    .user-links{
        margin-top: 35px;
        text-align: center;
    }

    .the-logo{
        width: 40%;
    }
}